ultralytics
opencv-python
pandas
PyYAML

# TFLite export (Ultralytics model.export format='tflite')
tensorflow==2.21.0
keras==3.15.0
onnx2tf>=1.26.3
onnxslim>=0.1.56
onnx>=1.12.0,<1.18.0
onnx-graphsurgeon>=0.3.26
tf-keras
absl-py==2.5.0
astunparse==1.6.3
flatbuffers==25.12.19
gast==0.7.0
google_pasta==0.2.0
grpcio==1.82.0
h5py==3.14.0
libclang==18.1.1
markdown-it-py==4.2.0
mdurl==0.1.2
ml_dtypes==0.5.4
namex==0.1.0
opt_einsum==3.4.0
optree==0.19.1
protobuf==7.35.1
pygments==2.20.0
rich==15.0.0
termcolor==3.3.0
wheel==0.47.0
wrapt==2.2.2
